#page-header {
			height:80px;
			width:100%;
			background-color: purple;
	}

<!-- Go back to the baltimore page, add 2 photos and reference my word document to change everything -->
	
.logo{
	width: 200px;
	border-style: solid;
}

.logo-height {
	height: 200px;
}